<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
   <add name="SQLDataBase" connectionString="Server=tcp:ulmx211gdk.database.windows.net,1433;Database=BugProject;User ID=SERVERSQL4T@ulmx211gdk;Password=ABcd1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=10;" />
  </connectionStrings>
</configuration>